body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    border: 1px solid black;
    width: 22%;
    padding: 10px;
    background-color: rgb(29, 219, 203);
    color: rgb(37, 99, 192);
}